<h2 class="display-6">Companies Table</h2>

{{!-- Create a table --}}
<table class="table table-striped table-hover" id="Companies-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print each attribute in order --}}
        {{#each data}}
        <tr data-value={{this.companyID}}>
            <td>{{this.companyID}}</td>
            <td>{{this.name}}</td>
            <td><button onclick="deleteCompany({{this.companyID}})" class="btn btn-danger">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="container">
    <div class="row">

        <div class="col">
            {{!-- Form to add a record to the table --}}
            <form id="add-company-form-ajax">
                <h3 class="display-6">Create New Row</h3>

                <div class="form-group col-12">
                    <label for="input-name">company name: </label>
                    <input class="form-control" type="text" name="input-name" id="input-name"
                        placeholder="company name">
                </div>

                <input type="submit" value="Create" class="btn btn-primary">
            </form>
        </div>

        <div class="col">
            {{!-- Form to search the table --}}
            <form id="search-company-html" method='GET' action='/companies'>
                <h3 class="display-6">Search Table</h3>

                <div class="form-group col-12">
                    <label for="name">Search by company name: </label>
                    <input class="form-control" type="text" name="name" id="input-name-html-search"
                        placeholder="company name">
                </div>

                <input type="submit" value="Search" class="btn btn-primary">
                <a href='/companies'><button class="btn btn-primary">Reset Table</button></a>
            </form>
        </div>

        <div class="col">
            {{!-- Form to update the table --}}
            <form id="update-company-form-ajax">
                <h3 class="display-6">Update Row</h3>

                <div class="form-group col-12">
                    <label for="mySelectCompany">Update by company name: </label>
                    <select class="form-control" name="input-company" id="mySelectCompany">
                        <option>-select-</option>
                        {{#each data}}
                        <option value="{{this.companyID}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group col-12">
                    <label for="input-name-update">company name: </label>
                    <input class="form-control" type="text" name="input-name-update" id="input-name-update"
                        placeholder="company name">
                </div>

                <input type="submit" value="Update" class="btn btn-primary">

            </form>
        </div>


    </div>
</div>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_company.js"></script>

<script src="./js/delete_company.js"></script>

<script src="./js/update_company.js"></script>